<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diancall.platf.biz.dao.merch.RoleMapper">
    <resultMap id="BaseResultMap" type="com.diancall.platf.biz.entity.merch.Role">
        <id property="roleid" column="roleid"/>
        <result property="name" column="name"/>
        <result property="rolelevel" column="rolelevel"/>
        <result property="description" column="description"/>
    </resultMap>

</mapper>